@import "./base/police.scss";
@import "./utils/functions";
@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/header";
@import "./layout/localisation";
@import "./layout/description";
@import "./layout/fontionnement";
@import "./layout/bloc_restaurant";
@import "./layout/footer";
@import "./pages/page_restaurant.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap');


body
{
    margin:0;
    padding:0;
    font-family: 'Roboto';
    width:100%;
    background-color: $color_lightgrey;

    @include desktop-only;

    @include mobile-only;

    @include tablette-only;

}

figure 
{
    margin:0px;
}
