.entrees 
{
    &__title, &__line
    {
        animation: arrive 0.7s linear;
        animation-fill-mode: both;
    }

    &__card1
    {
        animation:arrive 0.7s linear 0.5s;
        animation-fill-mode: both;
    }

    &__card2
    {
        animation:arrive 0.7s linear 0.8s;
        animation-fill-mode: both;
    }

    &__card3
    {
        animation:arrive 0.7s linear 1.1s;
        animation-fill-mode: both;
    }

    &__card4
    {
        animation:arrive 0.7s linear 1.3s;
        animation-fill-mode: both;
    }
}

.plats 
{
    &__title, &__line
    {
        animation: arrive 0.7s linear;
        animation-fill-mode: both;
    }

    &__card1
    {
        animation:arrive 0.7s linear 1.7s;
        animation-fill-mode: both;
    }

    &__card2
    {
        animation:arrive 0.7s linear 1.9s;
        animation-fill-mode: both;
    }

    &__card3
    {
        animation:arrive 0.7s linear 2.1s;
        animation-fill-mode: both;
    }
}

.desserts 
{
    &__title, &__line
    {
        animation: arrive 0.7s linear;
        animation-fill-mode: both;
    }

    &__card1
    {
        animation:arrive 0.7s linear 2.7s;
        animation-fill-mode: both;
    }

    &__card2
    {
        animation:arrive 0.7s linear 2.9s;
        animation-fill-mode: both;
    }

    &__card3
    {
        animation:arrive 0.7s linear 3.1s;
        animation-fill-mode: both;
    }
}
