.imageDeFond
{
   p
    {
        margin:0px;
    }

    img {width: 100%;
    height: 200px;
    margin-top:0px;
    overflow: hidden;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    padding:0;}

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        font-size:2.5em;
    }

    @media screen and (min-width: map-get($breakpoints, tablette)) {
        font-size:2em;
    }
}

.menu
{
    @include flex-column;
    background-color:$color_lightgrey;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position:relative;
    bottom:20px;

    &__title{
        width:100%;
        @include flex-center;
        justify-content:space-around;
       

        h1 
    {
        justify-self: stretch;
        font-family: "shrikhand";
        font-weight:300;
    }

        i {
            position: relative;
            top:15px;
        }
    }

    

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        font-size:5em;
    }

    @media screen and (min-width: map-get($breakpoints, tablette)) {
        font-size:2em;
    }

}
