@mixin mobile-only{
    @media screen and ( max-width: map-get($breakpoints, mobile)) {
       width:100%;
    }       
    }

@mixin tablette-only{
        @media screen and ( max-width: map-get($breakpoints, tablette)) {
            
        }       
        }

@mixin desktop-only{
            @media screen and ( min-width: map-get($breakpoints, desktop)) {
            
            }       
            }

@mixin flex-center{
    display:flex;
    align-items:center;
    justify-content: center;
}

@mixin flex-column{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
}

@mixin bordure_arrondies($pixel_number1, $pixel_number2, $pixel_number3, $pixel_number4){
    border-top-left-radius: $pixel_number1;
    border-top-right-radius: $pixel_number2 ;
    border-bottom-left-radius: $pixel_number3;
    border-bottom-right-radius: $pixel_number4;
}

@mixin title_card
{
    margin-bottom:5px;
        font-size:1.2em;
        font-weight:300;
}

@mixin line{
    border:solid 1px $color_third;
        width:13%;
        margin:0px;
        padding:0px;
}

