.fonctionnement
{
    @include flex-column;
    background-color:white;
    
    &__title
    {
        align-self:flex-start;
        margin-left:20px;
        font-weight:bold;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) 
    {
        flex-flow: row wrap;
        justify-content: space-around;
        font-weight:normal;
        font-size:1em;
        margin-left:-20px;
    }

    @media screen and (min-width: map-get($breakpoints, tablette)) and (max-width: map-get($breakpoints, desktop)) 
    {
        font-size:1.2em;

        h2 
        {
            font-size:1.7em;
        }
    }
}