.loader
{
        cursor: progress;
        display:flex;
        align-items:center;
        justify-content: center;
        position: fixed;
        height:100%;
        background-color: $color_lightgrey;
        opacity:0.8;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        margin:auto;
        visibility: hidden;
        animation: loader 2.5s linear;
       

    .spinner {
        display:inline-block;
        border-radius: 50px;
        vertical-align:middle;
        width:70px;
        height:70px;
        border: 6px solid $color_third;
        border-top-color:$color_second;
        border-bottom-color:$color_second;
        animation: anim 2.5s linear; 
        z-index:10;
        margin-right:8px;

        @media screen and (max-width:330px) {
            width:40px;
            height:40px;
        }

        @media screen and (min-width: map-get($breakpoints, tablette)) and (max-width: map-get($breakpoints, desktop)) {
            width:90px;
            height:90px;
        }

        @media screen and (min-width: map-get($breakpoints, desktop)) {
        width:90px;
        height:90px;
        visibility: visible;
        }

    }}


.lettre{
    color: $color_primary;
    font-size:25px;
    font-family: "Shrikhand";
    letter-spacing: 8px;
    animation: flash 1.5s linear;
    animation: loader 1.8s linear;
    flex-wrap:nowrap;
    visibility:hidden;

    @media screen and (min-width: map-get($breakpoints, tablette)) and (max-width: map-get($breakpoints, desktop)){
        font-size:45px;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
       font-size:70px;
    }

}

.lettre:nth-child(1){
    animation-delay:0.1s;
}
.lettre:nth-child(2){
    animation-delay:0.2s;
}
.lettre:nth-child(3){
    animation-delay:0.3s;
}
.lettre:nth-child(4){
    animation-delay:0.4s;
}
.lettre:nth-child(4){
    animation-delay:0.4s;
}
.lettre:nth-child(5){
    animation-delay:0.5s;
}
.lettre:nth-child(6){
    animation-delay:0.6s;
}
.lettre:nth-child(7){
    animation-delay:0.7s;
}

.lettre:nth-child(8){
    animation-delay:0.8s;
}

.lettre:nth-child(9){
    animation-delay:0.9s;
}

.lettre:nth-child(10){
    animation-delay:1s;
}

.lettre:nth-child(11){
    animation-delay:1.1s;
}


