.localisation
{
    @include flex-center;
    background-color: $color_grey;
    border-top: 1px solid darken($color_grey, 10%);
    box-shadow: inset 0px 2px 2px darken($color_grey, 10%);
    font-weight:800;
    
    i {
        padding-right:10px;
    }
    
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        font-size:2.5em;
        
    }

    @media screen and (min-width: map-get($breakpoints, tablette)) {
        font-size:2em;
    }
}