.restaurants
{
    @include flex-column;
    background-color:$color_lightgrey;

    a 
    {
        width:100%;
        margin:0;
        text-decoration:none;

        &:visited{
        color:black;
        }
    }

    &__title
    {
        align-self:flex-start;
        margin-top:50px;
        margin-left:20px;
        font-weight:bold;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        flex-direction:row;
        flex-wrap:wrap;
        height:auto;

        &__title
        {
            width:100%; 
            font-size:1.5em;
            padding-left:70px;
        }
    }

    @media screen and (min-width: map-get($breakpoints, tablette)) and (max-width: map-get($breakpoints, desktop)) {
        flex-direction:row;
        flex-wrap:wrap;
        height:auto;

        &__title
        {
            width:100%;
            font-size:2.2em;
        }
    }
}