.restaurants {

    a {
        padding:0;
        margin:0;
    }

    &__card1, &__card2, &__card3, &__card4
    {
        box-sizing: border-box;
        @include flex-column;
        flex-direction: column;
        background-color: $white;
        @include bordure_arrondies(15px, 15px, 15px, 15px);
        padding: 0;
        width:90%;
        height:220px;
        margin:20px;
        overflow:hidden;
        transform: scale(1);

        &:hover{
            transform: scale(1.05);
            transition: transform 1.2s;
            box-shadow: 4px 4px 4px 4px grey;
        }

    img 
    {
        width: 100%;
        height:150px;
        @include bordure_arrondies(15px, 15px, 0px, 0px);
        overflow: hidden;
        background-size: cover;
        object-fit: cover;
        object-position: center;
        padding:0;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        
        width:45%;
        height:300px;

    }

    @media screen and (min-width: map-get($breakpoints, tablette)) {
        width:40%;
        height:250px;

    }

    }

    figcaption 
    {
        padding:10px 5px 10px 5px;
        align-self: flex-start;
        font-weight:bold;
        width:70%;
        font-size:1.4em;
        color:black;
        display:flex;
        flex-direction:column;
        

        span 
        {
            font-weight:100;
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            width:50%;
            font-size:0.8em;
        }
        @media screen and (min-width: map-get($breakpoints, tablette)) {
            font-size:1em;
            width:100%;
        }
    }

    
}


